<!doctype html>
<html>
   <body>
   
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Student Number <input type = "text" name = "Student Number" /></p>
         <p>Gender</p>
         <p>
            <input type="radio" name="Gender" value="Male">Male
            <input type="radio" name="Gender" value="Female" checked="checked">Female
         </p>
         <!-- 학과 -->
         <p>Programming Languages </p>
         <label><input type = "checkbox" name = "PL_list" value = "Python"> Python</label>
         <label><input type = "checkbox" name = "PL_list" value = "Java"> Java</label>
         <label><input type = "checkbox" name = "PL_list" value = "HTML"> HTML</label>
         <label><input type = "checkbox" name = "PL_list" value = "C++"> C++</label>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
